<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ThinkPHP单元测试</title>
        
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/UnitTest/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/UnitTest/css/css-table.css" />

    </head>
    <body>
        <div class="container">
            <div class="alert alert-warning page-title">
                单元测试模块名:{$UnitTestName}<br />
				测试时间:{$UnitTestDateTime}<br/>
				测试框架作者:Jimersy Lee<br/>
				测试用例编码:Jimersy Lee<br/>

            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>    
                    <tr>
                        <th>方法名</th>
                        <th>测试用例总数</th>
                        <th>测试通过</th>
                        <th>测试未通过</th>

                        <th>功能描述</th>
						<th>执行时间</th>
						<th>内存占用</th>
                    </tr> 
                    <tr>
                        <th>总览</th>
                        <th>{$test_info['total']}</th>
                        <th>{$test_info['success']}</th>
                        <th>{$test_info['fail']}</th>
                        <th></th>
						<th>{$test_info['time']}s</th>
						<th>{$test_info['memory']}kb</th>
                    </tr> 
                </thead>
                <tbody>
                <volist name="test_list" id="list">
                    <tr>
                        <th>{$list.name}</th>
                        <td>{$list.total}</td>
                        
                        <if condition="$list['fail'] neq 0">
                            <td class="table-test-success-label">通过{$list.success}</td> 
                            <td class="table-test-failed-label">未通过{$list.fail} （错误序号：{$list.fail_list|implode=###, ', '}）</td>
                        <else />
                            <td class="table-test-success-label">通过{$list.success}</td>  
                            <td></td>
                        </if>
                        <td>{$list.note}</td>
						<td>{$list.time}s</td>
						<td>{$list.memory}kb</td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
</body>
</html>
